# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database files
*.sqlite3

# Ignore virtual environment directory
venv/

# Ignore requirements file
requirements.txt
