{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
<div class="row">
  {% for post in posts %}
  <div class="col-md-4 mb-4">
    <div class="card">
      {% if post.cover_image %}
      <img src="{{ post.cover_image.url }}" class="card-img-top img-fluid" alt="Cover image for {{ post.title }}" style="height: 200px; object-fit: cover;">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p><small>Last updated: {{ post.last_updated|date:"F j, Y, g:i a" }}</small></p>
        <a href="/blog/{{ post.id }}/" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
